:root {
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
  --link: #2196f3;
  --bgp: rgba(47, 48, 58, 0.8);
  --bgp-features: #f5f4fa;
  --bgp-footer: #2f303a;
  --black-color: #000000;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}
.container2 {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
h2,
h3 {
  color: var(--main-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.invisible {
  display: none;
  /* text-indent: -9999px; */
}

/* Header */

.studio,
.portfolio,
.contact {
  display: block;
  /* outline: 2px solid red; */
  padding-top: 32px;
  padding-bottom: 32px;
}

.container-header {
  /* outline: 2px solid red; */
  display: flex;
  border-bottom: 1px solid #ececec;
}
.header-logo {
  min-width: 153px;
  padding-top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-right: 85px;
}
.header-logo,
.footer-logo {
  color: var(--link);
}
.logo-studio {
  color: var(--black-color);
}
.logo-studio-footer {
  color: var(--white-color);
}
.n-menu {
  display: flex;
}
.nav-menu {
  display: flex;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  /* margin-right: 305px; */
}
.heder-address {
  margin-left: auto;
}
.section-nav-contact {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.section-nav-contact > li:first-child {
  margin-right: 30px;
}

.nav-menu > li:not(:last-child) {
  margin-right: 50px;
}
.nav-menu-first {
  color: var(--main-color);
}
.nav-menu-first:hover,
.nav-menu-first:focus {
  color: var(--link);
}

.nav-email,
.nav-tel {
  display: block;
  min-width: 142px;
  padding-left: 20px;
  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: 2px solid red; */
}
.nav-email {
  min-width: 161px;
  padding-left: 26px;
}
.nav-tel:hover,
.nav-tel:focus {
  color: var(--link);
}
.nav-email:hover,
.nav-email:focus {
  color: var(--link);
}
main {
  margin-bottom: 94px;
}
/* Hero */

.header-backgroup {
  margin-bottom: 98px;
}
.overlay {
  /* outline: 2px solid red; */
  width: 1600px;
  height: 600px;
  background-image: url(../images/header-img.jpg);
}
.overlay-backgroup {
  height: 600px;
  background-color: rgba(47, 48, 58, 0.8);
}
.content-button-text {
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--link);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: 0px;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.content-button-text:hover,
.content-button-text:focus {
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.25);
}
.content-button-link {
  display: flex;
  justify-content: center;
}
.content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  text-align: center;
  color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
/* Features */

.features {
  display: flex;
}

.features > li:not(:last-child) {
  margin-right: 30px;
}
.features h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.features p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-features {
  /* outline: 2px solid red; */
  margin-bottom: 94px;
}
.antena,
.clock,
.diagram,
.astro {
  margin-bottom: 30px;
}
.features-link {
  display: inline-block;
  padding: 25px 100px;
  background-color: var(--bgp-features);
  border-radius: 4px;
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
}

.features-link {
  background-color: var(--bgp-features);
}
.features-link:hover,
.features-link:focus {
  background-color: var(--link);
}
/* What are we doing */
.section-work {
  /* outline: 2px solid red; */
  margin-bottom: 94px;
}
.work-desktop,
.work-mobile,
.work-design {
  display: block;
}
.section-work h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.work {
  display: flex;
}
.work li {
  width: 370px;
}
/* .work-desktop {
  display: inline-block;
  width: 370px;
  height: 294px;
  background-image: url(../images/box1.jpg);
} */
/* .work-mobile {
  display: inline-block;
  width: 370px;
  height: 294px;
  background-image: url(../images/box2.jpg);
} */
/* .work-design {
  display: inline-block;
  width: 370px;
  height: 294px;
  background-image: url(../images/box3.jpg);
} */

.work li:not(:last-child) {
  margin-right: 30px;
}
.prof {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.desing:hover,
.design:focus {
  background-color: var(--link);
  color: var(--black-color);
}
.mobile:hover,
.mobile:focus {
  background-color: var(--link);
  color: var(--black-color);
}

.desktop:hover,
.desktop:focus {
  background-color: var(--link);
  color: var(--black-color);
}
/* team */
.section-team {
  width: 1600px;
  background-color: #f5f4fa;
  margin-bottom: 94px;
}
.team {
  display: flex;
  padding-bottom: 94px;
  /* outline: 2px solid red; */
}

.team > li:not(:last-child) {
  margin-right: 30px;
}
.team > li {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.section-team h2 {
  padding-top: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team-john,
.team-marta,
.team-robert,
.team-martin {
  display: inline-block;
  margin-bottom: 30px;
}
.team li:hover,
.team li:focus {
  background-color: var(--link);
}

/* Clients */

.clients {
  display: flex;
}
.clients a {
  display: block;
}
.clients > li:not(:last-child) {
  margin-right: 30px;
}

.section-clients h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients a:hover,
.clients a:focus {
  background-color: var(--link);
}

/* Footer */
.section-footer {
  background-color: var(--bgp-footer);
}
.footer {
  display: flex;
  /* outline: 2px solid red; */
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.display-footer > a {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.display-footer {
  padding-bottom: 60px;
  margin-right: 147px;
}
#address > ul {
  width: 231px;
  /* margin-top: 8px; */
}
#address > ul > li {
  height: 21px;
}
#address li:not(:first-child) {
  margin-top: 9px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
#address li:first-child {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.join-in > h3 {
  padding-top: 73px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.join-in {
  margin-right: 94px;
}
.mailing {
  padding-top: 72px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.goit {
  display: block;
  width: 1170px;
  padding-top: 18px;
  padding-bottom: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Second page */
.head2 {
  margin-bottom: 93px;
}
.portfolio-header {
  width: 1600px;
  border-bottom: 1px solid #ececec;
}

.section-filter-all {
  margin-bottom: 34px;
}
.section-filter {
  display: flex;
  padding-left: 280px;
  min-width: 612px;
  /* outline: 2px solid red; */
}
.section-filter > li:not(:last-child) {
  margin-right: 8px;
}
.filter {
  padding: 6px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border: 0px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: var(--link);
}
.main-content li {
  /* width: 370px; */
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.main-content > li:nth-child(3n) {
  margin-right: 0px;
}
.main-content > li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.main-content {
  display: flex;
  flex-wrap: wrap;
  /* outline: 2px solid red; */
  /* justify-content: space-between; */
}

.main-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 4px;
  padding-left: 24px;
  letter-spacing: 0.06em;
  color: #212121;
}
.blackout img {
  margin-bottom: 20px;
}
.blackout > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding-left: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.blackout:hover,
.blackout:focus {
  background-color: var(--link);
}

.hov-text {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: start;
  color: var(--third);
  width: 322px;
  height: 168px;
  background-color: rgba(33, 150, 243, 0.9);
}
.main-content a > p {
  color: var(--second-color);
}

#address a {
  color: var(--second-color);
}
#address a:hover,
#address a:focus {
  color: var(--link);
}
.index {
  color: var(--white-color);
}

/* social networks */
.social {
  width: 238px;
  display: flex;
  padding-left: 32px;
}
.social > li {
  padding-bottom: 24px;
  display: flex;
}

.social > li:not(:last-child) {
  margin-right: 10px;
}
.social a {
  width: 44px;
  height: 44px;
  text-align: center;

  color: var(--second-color);
}
.social a:hover,
.social a:focus {
  color: var(--white-color);
  background-color: var(--link);
  border-radius: 100px;
}
.social-footer {
  display: flex;
}
.social-footer > li {
  width: 44px;
}
.social-footer a {
  padding: 12px;
  color: var(--second-color);
}
.social-footer > li:not(:last-child) {
  margin-right: 10px;
}

.social-footer a:hover,
.social-footer a:focus {
  padding: 12px;
  color: var(--white-color);
  background-color: var(--link);
  border-radius: 100px;
}
